main {
    max-width: 2000px;
}

h1 {
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}

section {
    display: inline;
    background-color: rgb(0, 128, 128);
    border: solid 3px black;
    margin: 4px;

    text-align: center;
}