@media screen and (min-width: 1200px) {
    body {
        width: 1200px;
    }

    main {
        justify-content: center;
        margin: auto;
        width: 95%;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "event   hero hero spotlight"
            "weather hero hero spotlight"
            "join    news news spotlight";
    }

    .hero-block,
    .event-block,
    .join-block,
    .weather-block,
    .news-block,
    .spotlight-block {
        width: auto;
    }

    .hero-block {
        grid-area: hero;
    }

    .event-block {
        grid-area: event;
    }

    .join-block {
        grid-area: join;
    }

    .weather-block {
        grid-area: weather;
    }

    .news-block {
        grid-area: news;
    }

    .spotlight-block {
        grid-area: spotlight;
        display: block;
    }

    .spotlight-3 {
        display: block;
    }

    .inner-div-card {
        width: 100%;
        justify-content: center;
        margin: auto;
    }

    /* Footer start */

    footer {
        display: flex;
    }

    .footer-logo {
        width: 200px;
    }

    .footer-div1 {
        width: 20%;
    }

    .index-footer-hr {
        visibility: hidden;
        width: 0%;
    }

    .footer-div2 {
        margin: auto;
        text-align: center;
        width: 30%;
    }
}