@media screen and (min-width: 1200px) {
    body {
        max-width: 2000px;
    }

    /*  Main Layout */

    main {
        justify-content: center;
        margin: auto;
        row-gap: 10px;
        column-gap: 10px;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "event   hero hero spotlight"
            "weather hero hero spotlight"
            "join    news news spotlight";
    }

    .hero-block,
    .event-block,
    .join-block,
    .weather-block,
    .news-block,
    .spotlight-block {
        width: auto;
    }

    .hero-block {
        grid-area: hero;
    }

    .event-block {
        grid-area: event;
    }

    .join-block {
        display: inline;
        grid-area: join;
    }

    .weather-block {
        grid-area: weather;
    }

    .news-block {
        grid-area: news;
    }

    .spotlight-block {
        grid-area: spotlight;
        display: block;
    }

    .spotlight-3 {
        display: block;
    }

    .inner-div-card {
        width: 100%;
        justify-content: center;
        margin: auto;
    }
}