@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Zilla+Slab:ital@1&display=swap');

:root {
  --header-bg-colour: #cca43b;
  --header-text-colour: #363636;
  --general-bg-colour: #ffffff;
  --general-text-colour: #152E53;
  --hover: #121259;
}

body {
  font-family: 'Zilla Slab', serif;
  justify-content: center;
  margin: auto;
}

/* ---- Main Content Styling Index---- */

.hero-img,
.hero-block {
  justify-content: center;
  margin: auto;
  padding: 0;
  display: block;
  width: 100%;

  position: relative;
}

#abs-hero {
  position: absolute;
  padding: 1rem;
  margin: 1rem;
  bottom: 2px;
  right: 2px;
  border-radius: 1rem;
  height: 50px;

  color: var(--general-bg-colour);
  background-color: var(--hover);
}

#abs-hero a,
#abs-hero a:visited {
  color: white;
  font-weight: 300;
  font-size: 25px;
}

.abs-hero-h1 {
  position: absolute;
  padding: 1rem;
  margin: 1rem;
  top: 2px;
  left: 2px;
  border-radius: 1rem;
  height: 50px;

  font-size: 40px;
  color: var(--hover);
}

.weather-block {
  display: block;
  justify-content: center;
  margin: auto;
  max-height: 328px;
}

.iner-weather-block {
  display: inline;
  text-align: center;
}

.weather-img {
  max-width: 80px;
  margin: 2px;
  margin-right: 10px;
}

.temp-degrees {
  font-size: 2rem;
}

.temp-div {
  display: flex;
  justify-content: center;
}

.iner-weather-block h3 {
  font-size: 2rem;
}

.iner-weather-block hr {
  border: 1px solid black;
}

/* ----- Spotlight styling ----- */

.spotlight-img {
  width: 150px;
  justify-content: center;
  margin-right: 3rem;
  margin-left: 3rem;
}

.spotlight-hr {
  width: 85%;
  border: 1px solid black;
}

.spotlight-p {
  font-size: 14px;
  margin: 0%;
}

/* ---- Main Layout Styling ---- */

.inner-div-card {
  min-height: 144px;
  border: solid black;
  border-width: 1px;
  text-align: center;
  /* margin: 10px; */
}

.main-index {
  justify-content: center;
}

.div-card {
  background-color: rgb(202, 202, 202);
  margin: .5rem;
  min-height: 144px;
  font-weight: bold;
  padding: 1rem;
}

.spotlight-block {
  background-color: rgb(202, 202, 202);
  padding: 1rem;
  margin: .5rem;
  min-height: 144px;
  justify-content: center;
}

.join-block {
  display: none;
  justify-content: center;
  margin: auto;
  align-items: center;
}

.join-block-button {
  background-color: var(--header-bg-colour);
  color: var(--general-bg-colour);

  align-items: center;
  width: 80%;
  margin: auto;
  margin-top: 2rem;

  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
}

.join-block-button a,
.join-block-button a:visited {
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
}

.spotlight-3 {
  display: none;
}

/* ===== Discover Page ======*/
/* ===== Discover Page ======*/
/* ===== Discover Page ======*/


#discover-main {
  display: inline;
  margin: auto;
}

.discover-img {
  max-width: 600px;
  max-height: 300px;
}

.discover-img:hover {
  box-shadow: 0 0 50px #333;
  opacity: .5;
}

.discover-card {
  background-color: rgb(202, 202, 202);
  border: 1px solid black;

  /* justify-content: center; */

  margin: .5rem;
  min-height: 144px;
  font-weight: bold;
  padding: 1rem;
}

/* Header / Fotter things */

:root {
  --header-bg-colour: #cca43b;
  --header-text-colour: #363636;
  --general-bg-colour: #ffffff;
  --general-text-colour: #152E53;
  --hover: #121259;
}

header,
footer {
  background-color: var(--header-bg-colour);
}

footer a {
  color: black
}

/* ---- Header CSS start ---- */

.index-h1 {
  margin-top: .5rem;
  margin-bottom: .2rem;
  font-size: medium;
}

.header-h2,
.index-h2 {
  margin-top: .2rem;
  margin-bottom: .5rem;
  font-size: medium;
}

.flex-container {
  display: flex;
}

.header-block1 {
  width: 10%;
  margin: .5rem;
}

.header-block2 {
  width: 70%;
}

.header-block3 {
  width: 20%;
  justify-content: center;
  margin: auto;
  display: flex;
}

.header-block2 {
  width: 70%;
}

.social-logo {
  width: 50px;
  height: 50px;
  padding: 5px;
}

#meet-greet {
  display: none;
}

#meet-greet.active {
  display: block;

  background-color: var(--general-bg-colour);
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 90%;
  padding: .5rem;
}

.current-date-box {
  background-color: var(--general-bg-colour);
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 90%;
  padding: .5rem;
  border: 1px solid black;
}


/* ---- Ham menu ---- */

#navbar {
  align-items: center;
  background-color: var(--menu-bg-color);
  color: black;
  display: none;
  flex-direction: column;
  list-style: none;
  padding-inline-start: 0px;
  margin-block: 0px;
}

.navbar-active {
  background-color: var(--hover);
}

.navbar-active a {
  color: white;
}

#menu-toggle {
  display: block;
  border: 2px solid black;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--general-bg-colour);
}

#menu-open {
  display: block;
}

#menu-close {
  display: none;
}

#menu-open.open {
  display: none;
}

#menu-close.open {
  display: block;
}

#navbar.open {
  display: flex;
}

#navbar {
  display: none;
}

nav {
  background-color: var(--menu-bg-color);
  width: 90%;
  margin: 0 auto;
  border: 1px solid black;
}

nav ul li {
  /* border: 1px solid black; */
  width: 100%;
  color: black;
  text-align: center;
}

nav a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
}

nav ul li a:hover {
  background-color: var(--hover);
  color: var(--header-bg-colour);
}

/* ---- Footer CSS Start ---- */

footer {
  text-align: center;
  justify-content: center;
}

.footer-logo {
  width: 40%;
  margin-top: 1rem;
}

.index-footer-hr {
  border: 1px solid black;
  width: 70%;
}

.footer-div3 p {
  padding: 0%;
  margin: 0%;
}

.footer-divider {
  display: none;
}

/* TODO BUG */
.footer-div2 a:visited {
  color: black;
  font-weight: bold;
}

/* Header Event Content */

.event-block {
  text-align: center;
  margin: auto;
}

.event-block h3 {
  font-size: 25px;
}

.event-block h2 {
  font-size: 20px;
}