@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Zilla+Slab:ital@1&display=swap');

:root {
  --header-bg-colour: #cca43b;
  --header-text-colour: #363636;
  --general-bg-colour: #e5e5e5;
  --general-text-colour: #152E53;
  --hover: #121259;
}

body {
  font-family: 'Zilla Slab', serif;
  justify-content: center;
  margin: auto;
}

header,
footer {
  background-color: var(--header-bg-colour);
}

/* ---- Header CSS start ---- */

h1 {
  margin-top: .5rem;
  margin-bottom: .2rem;
  font-size: medium;
}

h2 {
  margin-top: .2rem;
  margin-bottom: .5rem;
  font-size: medium;
}

.flex-container {
  display: flex;
}

.header-block1 {
  width: 10%;
  margin: .5rem;
}

.header-block2 {
  width: 70%;
}

.header-block3 {
  width: 20%;
  justify-content: center;
  margin: auto;
  display: flex;
}

.header-block2 {
  width: 70%;
}

.social-logo {
  width: 30px;
  height: 30px;
  padding: 5px;
}

.current-date-box {
  background-color: var(--general-bg-colour);
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 90%;
  padding: .5rem;
}

/* ---- Main content styling ---- */

.hero-img,
.hero-block {
  justify-content: center;
  margin: auto;
  padding: 0;
  display: block;
  width: 100%;
  
  position: relative;
}

#Abs-hero {
  position: absolute;
  padding: 1rem;
  margin: 1rem;
  bottom: 2px;
  right: 2px;
  border-radius: 1rem;

  color: var(--general-bg-colour) ;
  background-color: var(--hover);
}

#Abs-hero a:visited {
  color: var(--header-bg-colour);
  font-weight: 300%;
}


main {
  justify-content: center;
}

.div-card {
  background-color: gray;
  margin: .5rem;
  min-height: 144px;
}

.spotlight-block {
  background-color: gray;
  padding: 1rem;
  margin: .5rem;
  min-height: 144px;
}

.inner-div-card {
  min-height: 144px;
  border: solid black;
  border-width: 1px;
}

.news-block {
  display: none;
}

.spotlight-3 {
  display: none;
}

/* ---- Main CSS End ---- */

/* ---- Footer CSS Start ---- */

footer {
  text-align: center;
  justify-content: center;
}

.footer-logo {
  width: 40%;
  margin-top: 1rem;
}

.index-footer-hr {
  color: black;
  width: 70%;
}

.footer-div3 p {
  padding: 0%;
  margin: 0%;
}

.footer-divider {
  display: none;
}

.footer-div2 a:visited{
  color: black;
  font-weight: bold;
}

/* ---- Footer CSS End ---- */

/* ---- Ham menu ---- */
#navbar {
  background-color: var(--menu-bg-color);
  color: black;
  display: none;
  flex-direction: column;
  list-style: none;
  padding-inline-start: 0px;
  margin-block: 0px;
}

#navbar-active {
  background-color: var(--hover);
}

#menu-toggle {
  display: block;
  border: 2px solid black;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--general-bg-colour);
}

#menu-open {
  display: block;
}

#menu-close {
  display: none;
}

#menu-open.open {
  display: none;
}

#menu-close.open {
  display: block;
}

#navbar.open {
  display: flex;
}

#navbar {
  display: none;
}

nav {
  background-color: var(--menu-bg-color);
  width: 90%;
  margin: 0 auto;
  border: 1px solid black;
}

nav ul li {
  border: 1px solid black;
  width: 100%;
  color: black;
  text-align: center;

}

nav a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
}

nav ul li a:hover {
  background-color: var(--hover);
  color: var(--header-bg-colour);
}

/* TODO
-- set <hr> up right - still a strang white colour???
-- ham menu - mobile / tablet spaceing messed up 
*/