@media screen and (min-width: 700px) {

    /* Header */
    .header-block2 h1,
    .header-block2 h2 {
        font-size: 30px;
    }

    /* Body - Main */
    main {
        justify-content: center;
        margin: auto;
        width: 95%;

        display: grid;
        column-gap: 3px;
        row-gap: 3px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "hero hero hero"
            "news news news"
            "spotlight spotlight spotlight"
            "join join join"
            "event event weather";
    }

    .div-card {
        padding: .5rem;
        margin: .1rem;
    }

    .hero-block {
        grid-area: hero;
    }

    .event-block {
        grid-area: event;
    }

    .weather-block {
        grid-area: weather;
    }

    .news-block {
        grid-area: news;
    }

    .spotlight-block {
        grid-area: spotlight;
    }

    .join-block {
        display: block;
        grid-area: join;
    }

    .news-block {
        display: block;
    }

    .spotlight-3 {
        display: none;
    }

    .spotlight-block {
        display: flex;
        justify-content: center;
    }

    .spotlight-1,
    .spotlight-2 {
        width: 45%;
    }
}