@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Zilla+Slab:ital@1&display=swap');

ul {
    list-style-type: circle;
}

h2 {
    font-weight: bold;
}

li {
    font-weight: 300;
}

img {
    max-width: 150px;
    max-height: 160px;
    border-radius: 20px;
}

body {
    font-family: 'Zilla Slab', serif;
    width: 900px;
    justify-content: center;
    margin: auto;
    padding-top: 2em;
    /* background-color: rgb(72, 72, 72);
    color: white; */

    display: block;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    background-color: rgb(177, 59, 163);
    color: rgb(255, 255, 255);
    border-radius: 25px;
    padding: 2%;
    justify-content: center;
    margin: auto;
}

footer {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 5px;
}

#card-text {
    /* TODO Still not across box 2 and 3... */
    grid-column-start: 2;
    grid-column-end: 4;
    margin: auto;
    font-weight: bold;
}