ul{
    list-style-type: circle;
}

h2 {
    font-weight: bold;
}

img {
    max-width: 150px;
    max-height: 160px;
}

body {
    width: 80%;
    padding-left: 10%;
}

.card {
    background-color: rgb(209, 57, 191);
    border-radius: 25px;
    padding: 2%;
    align-items: center;
}

.container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 5px;
}

#image {
    /* TODO Still not across box 2 and 3... */
    grid-row-start: 1;
    grid-row-end: 3;
}